
<div class="item-card">
    <div class="close-button">
        <button
            mat-icon-button
            color="primary"
            aria-label="Close card"
            (click)="closeItemCard()"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div
        *ngIf="countdown_init && item.id && !item.expired"
        class="time-left"
    >
        <span>Time left: </span>
        <span
            *ngIf="time_left_days > 0"
            class="tile-left-days"
        >{{ time_left_days }} days</span>
        <countdown [config]="{leftTime: left_time, format: 'HH:mm:ss'}"></countdown>
    </div>

    <br />

    <form class="example-form" [formGroup]="form">

        <mat-form-field class="example-full-width item-title">
            <mat-label>Title</mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                placeholder="Title"
                [(ngModel)]="item.title"
                [readonly]="!edit_mode"
                required
                [formControl]="titleFormControl"
                formControlName="titleInput"
            ></textarea>
            <mat-error *ngIf="titleFormControl.hasError('required')">
                Title is <strong>required</strong>
            </mat-error>
        </mat-form-field>

        <br />

        <mat-form-field class="example-full-width item-desc">
            <mat-label>Description</mat-label>
            <textarea
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                [(ngModel)]="item.description"
                [readonly]="!edit_mode"
                formControlName="descriptionInput"
            ></textarea>
        </mat-form-field>

        <div *ngIf="!item.expired">
        <br />

        <mat-form-field
            *ngIf="!edit_mode"
            class="example-full-width"
        >
            <mat-label>Price</mat-label>
            <input
                matInput
                [(ngModel)]="item.price"
                [readonly]="true"
                [ngModelOptions]="{standalone: true}"
            >
        </mat-form-field>

        <mat-form-field
            appearance="fill"
            *ngIf="edit_mode"
        >
            <mat-label>Price</mat-label>
            <input
                matInput
                [readonly]="bids.length > 0"
                type="number"
                required
                class="example-right-align"
                (keypress)="helpersService.numberOnly($event)"
                [(ngModel)]="item.price"
                formControlName="priceInput"
                [formControl]="priceFormControl"
            >
            <span matPrefix>$&nbsp;</span>
            <mat-error *ngIf="priceFormControl.hasError('max')">
                $100000 is max price
            </mat-error>
        </mat-form-field>

        <br />

        <mat-form-field
            appearance="fill"
            *ngIf="edit_mode"
        >
            <mat-label>Close date</mat-label>
            <input
                matInput
                [disabled]="bids.length > 0"
                [owlDateTime]="dt1"
                [owlDateTimeTrigger]="dt1"
                [owlDateTimeFilter]="myFilter"
                placeholder="Date Time"
                [(ngModel)]="close_dt"
                formControlName="closedtInput"
            >
            <owl-date-time #dt1 [disabled]="bids.length > 0"></owl-date-time>
        </mat-form-field>

        <br />

        <button
            *ngIf="edit_mode && item.id"
            class="item-save"
            (click)="updateItem()" mat-raised-button
            color="primary"
            type="submit"
        >Save changes</button>

        <button
            *ngIf="edit_mode && !item.id"
            class="item-add-item"
            (click)="addItem()" mat-raised-button
            color="primary"
            type="submit"
        >Add item</button>

        </div>

    </form>

    <div *ngIf="!edit_mode && !item.expired">
        <form [formGroup]="formBid">
            <mat-form-field class="example-full-width">
                <mat-label>Bid, $</mat-label>
                <input
                    matInput
                    type="number"
                    (keypress)="helpersService.numberOnly($event)"
                    placeholder="$0.00"
                    [(ngModel)]="bid_price"
                    formControlName="bidInput"
                    [formControl]="bidFormControl"
                >
                <mat-error *ngIf="bidFormControl.hasError('max')">$100000 is max bid</mat-error>
            </mat-form-field>

            <button
                class="item-submit-bid"
                (click)="makeBid()"
                mat-raised-button
                color="primary"
            >Submit bid</button>
        </form>
        <br />
        <mat-checkbox
            class="example-margin"
            [(ngModel)]="auto_bid"
            (change)="autoBidChange()"
        >Auto bid</mat-checkbox>
    </div>

    <h2 *ngIf="!edit_mode" class="mat-h2 recent-bids">Recent bids:</h2>

    <table
        *ngIf="!edit_mode"
        mat-table
        mat-elevation-z8
        [dataSource]="bids"
        class="example-table bids-list"
    >
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let row">${{ row.price }}</td>
        </ng-container>

        <ng-container matColumnDef="user_name">
            <th mat-header-cell *matHeaderCellDef>User name</th>
            <td mat-cell *matCellDef="let row">{{ row.user_name }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Created</th>
            <td
                mat-cell
                *matCellDef="let row"
            >{{ helpersService.getDateTimeFromEpoch(row.bid_dt, 'medium') }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="bidsDisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: bidsDisplayedColumns;"></tr>
    </table>
</div>

<alert-dialog
    [state]="alertDialog.state"
    (alertDialogEvent)="alertDialog.onAlertDialogEvent($event)"
></alert-dialog>
