<div class="centered">
    <mat-form-field class="example-full-width">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Login" [(ngModel)]="login">
    </mat-form-field>

    <br />

    <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" [(ngModel)]="password" >
    </mat-form-field>

    <br />

    <button (click)="signIn()" mat-raised-button color="primary">Sign In</button>
</div>


<alert-dialog
    [state]="alertDialog.state"
    (alertDialogEvent)="alertDialog.onAlertDialogEvent($event)"
></alert-dialog>

