<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Web Auction</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="{% static '/angular_dist/picker.min.css' %}" type="text/css" rel=stylesheet />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <app-root></app-root>
  <script src="angular_dist/runtime.js" defer></script>
  <script src="angular_dist/polyfills.js" defer></script>
  <script src="angular_dist/styles.js" defer></script>
  <script src="angular_dist/vendor.js" defer></script>
  <script src="angular_dist/main.js" defer></script></body>
</html>

